.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #333;
}

button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

pre {
  white-space: pre-wrap;
  word-break: keep-all;
}

button:hover {
  background-color: #2980b9;
}

#loader {
  display: none;
  border: 3px solid #f3f3f3; /* Light grey */
  border-top: 3px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#spaceImageContainer {
  margin-top: 20px;
}


#spaceImageContainer img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#apiUrl {
  margin-top: 20px;
  font-style: italic;
  color: #666;
}

#imageAndApiResponseContainer {
  display: flex;
}

#spaceImageContainer, #apiResponseContainer {
  display: inline-block;
  vertical-align: top;

}

